$main_color_light: #ebecefff;
$calc__body_color_light: #fdfdfe;
$calc__btn_released_color_light: #b7b1b1;
$calc__btn_pressed_color_light: grey;
$calc__btn_border_color_light: black;
$calc__output_color_light: beige;
$switch_color_light: black;